click==7.1.2
dash==2.0.0 
dash-bootstrap-components==0.9.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
Flask-Caching==1.8.0
Flask-Compress==1.4.0
future==0.18.2
gunicorn==20.0.4
numpy==1.18.2
pandas==1.0.3
patsy==0.5.1
plotly==5.3.1
plotly-express==0.4.1
python-dateutil==2.8.1
pytz==2019.3
retrying==1.3.3
scipy==1.4.1
six==1.14.0
statsmodels==0.11.1
Werkzeug==2.0
urllib3==1.25.10
pathlib==1.0.1
dash_google_auth==0.1.2
authlib==0.11
flask==2.0.2
google_auth_oauthlib==0.4.2
flask_login==0.4.0
Flask-Dance==3.2.0
blinker==1.4
flask-sslify==0.1.5
geopandas==0.9.0 
geojson == 2.5.0